*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    align-items: center;
}
h1{
    margin-bottom: 30px;
}

.board{
    width: 70%;
    border-radius: 20px;
    height: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.stats{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 300px;
    transition: display .5s;
    overflow: scroll;
    max-height: 100%;
    overflow-x: hidden;
}
.stats h3{
    text-align: center;
}
.stats div{
    background-color: blue;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    animation: show 1s;
    font-size: 1.1em;
}
.content{
    position : absolute;
    z-index: 0;
    width: 100%;
    bottom: 0;
    background-color: aquamarine;
    max-height: 90%;
    transition: height 1s;
}
.value{
    z-index: 1;
}
.carafe{
    position: relative;
    border: 3px solid black ;
    width: 200px;
    min-height: 100px;
    max-height: 600px;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;   
}
.target{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 2em;
}

.target strong{
    color: darkcyan;
}

.carafe .max{
    position: absolute;
    bottom: 0;
    transform: translateY(60px);
}

@keyframes to_the_left{
    from{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(-80deg) translateY(-300px) translateX(200px);
    }
    100%{
        transform: rotate(0deg) translate(0);
    }
}
@keyframes to_the_right{
    from{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(80deg) translateY(-300px) translateX(-200px);
    }
    100%{
        transform: rotate(0deg) translate(0);
    }
}

@keyframes show {
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 0.6;
    }
    
}
